html{
  font-size:16px;  
}
body{
  background-color: lightgray;
  margin:0;
}
main{
  background: linear-gradient(to right, purple,  orange);
  margin: 5rem 5rem;
  padding: 3rem;
  height: 75vh;
  box-shadow: 1px 2px 17px 3px black;
  border-radius: 4px;
  /* margin-bottom: 0; */
  box-sizing: border-box;
  padding-top: 0rem;
  padding-left: 3rem;
}
main div{
  display: inline-block;  
}

main div.wrapperDescription{
  width: 47%;
  color:white;
  font-size: 1.2rem;
}
main div.wrapperImg{
  width: 50%;
}

main div.wrapperImg img{
  position: absolute;
  top:0;
  right:0;
  width: 40%;
  transition: 1s;
}
main div.wrapperImg img:hover{
  width:60%;
}

main:after{
  content: '';
  position: absolute;
  background: linear-gradient(to right, #a13e3e, #333394, #4949ff);
  box-shadow: 1px 2px 17px 3px black;
  transform: skewY(11deg);
  z-index: -1;
  inset: 0;
}

div.wrapperMain{
  overflow: hidden;
  position: relative;
  padding: 2rem;
  box-sizing: border-box;
  height: 100vh;
}